[Desktop Entry]
Encoding = UTF-8
Name = Picapy
Version = 1.9.0.1
Comment = A Picasa Web manager
GenericName = Picapy
Terminal = false
Icon = /usr/share/picapy/picapy.svg
Type = Application
Exec = /usr/bin/picapy
Categories = GNOME;GTK;Application;Network;
Name[it] = Picapy
Name[fr] = Picapy
Name[es] = Picapy
Name[ro] = Picapy
Name[eu] = Picapy
Name[tr] = Picapy
Name[uk] = Picapy
Name[de] = Picapy
Name[zh_CN] = Picapy
Name[ta] = Picapy
Name[sr] = Пиакпи
Name[gl] = Picapy
Name[pt_BR] = Picapy
Name[zh_TW] = Picapy
Name[ru] = Picapy
Name[ko] = Picapy
Name[en] = Picapy
Comment[it] = A Picasa Web manager
Comment[fr] = A Picasa Web manager
Comment[es] = Administrador Web Picasa
Comment[ro] = A Picasa Web manager
Comment[eu] = A Picasa Web manager
Comment[tr] = A Picasa Web manager
Comment[uk] = A Picasa Web manager
Comment[de] = Eine Picasa-Webverwaltung
Comment[zh_CN] = A Picasa Web manager
Comment[ta] = A Picasa Web manager
Comment[sr] = Управник за Пикаса веб
Comment[gl] = A Picasa Web manager
Comment[pt_BR] = A Picasa Web manager
Comment[zh_TW] = A Picasa Web manager
Comment[ru] = A Picasa Web manager
Comment[ko] = A Picasa Web manager
Comment[en] = A Picasa Web manager
GenericName[it] = Picapy
GenericName[fr] = Picapy
GenericName[es] = Picapy
GenericName[ro] = Picapy
GenericName[eu] = Picapy
GenericName[tr] = Picapy
GenericName[uk] = Picapy
GenericName[de] = Picapy
GenericName[zh_CN] = Picapy
GenericName[ta] = Picapy
GenericName[sr] = Пиакпи
GenericName[gl] = Picapy
GenericName[pt_BR] = Picapy
GenericName[zh_TW] = Picapy
GenericName[ru] = Picapy
GenericName[ko] = Picapy
GenericName[en] = Picapy
